:root {
	--primary-color: #3a4b5e;
	--secondary-color: #b3beca;
	--tertiary-color: #dfe5eb;

	--background-color: white;
	--text-color: #27323e;

	--font-family: 'Libre Franklin Variable', sans-serif;

	--border-radius: 5px;
}

::selection {
	background-color: var(--primary-color);
	color: white;
}

body {
	accent-color: var(--primary-color);
	background: var(--background-color);
	color: var(--text-color);
	font-family: var(--font-family);
	overflow: hidden;
}

#sveltekit {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	gap: min(2rem, 2vh);
	height: 100dvh;
	margin: 0 auto;
	max-width: 1680px;
	padding: min(2rem, 2vh) min(2rem, 2vw) min(2rem, 2vh);
	width: 100vw;
}

a {
	color: var(--primary-color);
}

mark {
	background-color: var(--primary-color);
	color: white;
}

.tooltip {
	background-color: white;
	color: var(--primary-color);
	padding: 2px 0.5rem;
	border-radius: var(--border-radius);
	border: 1px solid var(--primary-color);
	box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.2);
	z-index: 2;
}

.checkbox-multiselect {
	background-color: white;
	color: var(--primary-color);
	padding: 0 0.5rem;
	border-radius: var(--border-radius);
	border: 1px solid var(--primary-color);
	line-height: 1;
}
